/* Estilos para el Header */
header {
    background-color: #1f196f;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
}

header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}
