body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #001c99;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header img {
    max-width: 150px;
    margin-top: 10px;
  }
  
  #login {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
  }
  
  #login h2 {
    margin-top: 0;
  }
  
  #login form {
    display: flex;
    flex-direction: column;
  }
  
  #login input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  #login button {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #1c41d5;
    color: #fff;
    cursor: pointer;
  }
  
  #carteleras {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pelicula {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pelicula img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .pelicula p {
    margin: 10px 0;
  }
  
  .pelicula button {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .seat-selection {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .seat.selected {
    background-color: #28a745;
    color: #fff;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  